.sliderItemsWrapper {
  margin-top: 20px;
}
.sliderItem {
  width: 100%;
  height: 300px;
}
.sliderItem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mainContent {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1280px;
  padding-top: 120px;
  background-size: cover;
  width: 100%;
}

.content {
  /* max-width: 750px; */
  overflow: hidden;
}
.cardWrapper {
  background: #0d043061;
  border-radius: 20px;
  padding: 20px 15px;
  border: 4px solid #efc169;
  color: #fff;
  height: 565px;
  position: relative;
  width: 450px;
}

.card__tagName {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  background: #5e4c2a;
  width: fit-content;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  border-radius: 30px;
  border: solid 3px #efc169;
  color: #efc169;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.card__content {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.card__image {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 50px;
  border: 2px solid #efc169;
}
.card__image img {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  object-fit: contain;
}
.card__name {
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.card__eggs {
  font-size: 20px;
  margin-bottom: 0px;
}
.card__price {
  font-size: 20px;
  margin: 0px;
}
.card__text {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0px;
}
.card__counter {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  align-items: center;
}
.card__counter-item {
  background: #e91e63;
  color: #fff;
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__counter-item:hover {
  background: #e91e63b5;
}
.card_counter-no {
  font-weight: bold;
  font-size: 24px;
}
.card__minButton {
  width: 120px;
  height: 40px;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  letter-spacing: 2px;
  border: 2px;
  border-radius: 15px;
  background-color: transparent;
  background-image: linear-gradient(
    170deg,
    #efc169 4%,
    #554522 51%,
    #d19f3e 99%
  );
  box-shadow: 1px 1px 15px 0 #09041a;
  transition: width 0.2s ease, font-size 0.2s ease, height 0.2s ease,
    width 0.2s ease, text-shadow 0.2s ease, box-shadow 0.2s ease;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0 0 5px #000;
  font-family: monospace;
}

.card__minButton1 {
  width: 400px;
  height: 40px;
  margin: 0 10px 20px 0px;
  justify-content: center;
  align-items: center;
  align-self: center;
  letter-spacing: 2px;
  border: 2px;
  border-radius: 15px;
  background-color: transparent;
  background-image: linear-gradient(
    170deg,
    #efc169 4%,
    #554522 51%,
    #d19f3e 99%
  );
  box-shadow: 1px 1px 15px 0 #09041a;
  transition: width 0.2s ease, font-size 0.2s ease, height 0.2s ease,
    width 0.2s ease, text-shadow 0.2s ease, box-shadow 0.2s ease;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0 0 5px #000;
  font-family: monospace;
}
.content {
  padding-top: 35px;
  height: 600px;
}

.leftSidebar {
  margin-bottom: 20px;
}
.slider-wrapper {
  height: 200px !important;
}

.sliderItemsWrapper > div {
  position: relative;
}
.sliderItemsWrapper > div::before,
.sliderItemsWrapper > div::after {
  content: '';
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 998;
}
.sliderItemsWrapper > div::before {
  background: linear-gradient(to top, #00000000, #000000);
  top: 0;
}
.sliderItemsWrapper > div::after {
  background: linear-gradient(to bottom, #00000000, #000000);
  bottom: 0;
}
.claimed_status {
  margin-top: 20px;
  background-image: linear-gradient(to right, rgba(236, 183, 247, 1), rgb(237, 213, 241), rgb(214, 207, 102), rgb(231, 149, 41), rgb(252, 84, 55));
  border-radius: 5px;
}
.how_to_mint {
  text-transform: initial;
  margin: 30px 30px;
  align-items: center;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .slider-wrapper {
    height: 570px !important;
  }
  .mainContent {
    display: flex;
  }

  .sliderItem {
    width: 250px;
    height: 250px;
  }
  .cardData {
    padding-bottom: 2vh;
  }
  .sliderItem img {
    object-fit: contain;
  }
  .leftSidebar {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    height: 250px !important;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content {
    display: flex;
    justify-content: center;

  }
}

@media screen and (max-width: 500px) {
  .cardWrapper{
    max-width: 90%;
    height: 600px;
  }
  .card__minButton1 {
    width: 90%;
    height: 70px;
  }
  .content {
    height: 650px;
  }
}