.header {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  margin-top: 0;
  align-items: center;
  background: #100e0c;
  box-shadow: 0 0 10px #855b1f;
  z-index: 999;
}
.logoImageWrapper {
  width: 380px;
  height: 60px;
}
.logoImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.headerText {
  flex: 1;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  margin-top: 50px;
  align-items: center;
  background: #100e0c;
  box-shadow: 0 0 10px #855b1f;
  z-index: 999;
}
/* .footerlogo {
  background: url("../images/icons/logofull.png") no-repeat center;
  background-size: contain;
  height: 30vh;
} */

.footerdetail {
  margin: 20px 0px 0px 0px;
}
.footer p {
  color: #fff;
  font-weight: 700;
  padding: 10px 0px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .logoImageWrapper {
    width:100%;
    height: 40px;
    margin-top: 20px;
  }
  .header {
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .headerText {
    flex: 1;
    text-align: center;
    color: #fff;
    margin: 5px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }
}
