@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
body {
  background-color: black !important;
  margin: 0;
  font-family: 'Rubik';
  color: #254cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'NasalizationRg-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('NasalizationRg-Regular'),
    url('./font/nasalization.woff') format('woff');
}

.generalContainer {
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.particles-js {
  width: 100%;
  height: 100%;
  background: grey;
  border: solid 1px blue;
}
.TitleMeta {
  font-family: 'PT+Serif:ital';
  color: #ffc107;
}

.MetaHeader p {
  margin-top: 10px;
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: white;
}

.MetaHeader small {
  font-family: 'PT+Serif:ital';
  color: white;
}
.Minter {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff38;
  position: absolute;
  width: 80vh;
  height: 80vh;
  max-width: 80vh;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

#title {
  padding-top: 32px;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: center;
  float: right;
  margin-bottom: 50px;
  line-height: 16px;
  color: white;
}
/*
#walletButton:focus {
  outline:none;
  border: none;
}

#walletButton:hover {
  outline:none;
  border :none;
} */

#mintButton {
  margin-top: 40px;
}
